
<mat-card fxFlex>
  <mat-card-content>
    <div class="" fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="end end" >
      <button mat-raised-button  color="accent" fxFlex="15%" type="button" (click)="ModalCreate()"><mat-icon>add_box</mat-icon>เพิ่มข้อมูล</button>
  </div>
  
    <div class="row" fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="end end" >
      <mat-form-field fxFlex="30%">
          <mat-label>ค้นหา</mat-label>
          <input matInput type="text" #TblFilter  (keyup)="OnTblFilter(TblFilter.value)">
          
      </mat-form-field>
  </div>
    <div class=" mat-elevation-z8">
      <table mat-table [dataSource]="datatbl" class="mat-elevation-z8">
    
        
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> ผลไม้ </th>
          <td mat-cell *matCellDef="let element" fxLayout="row" fxLayoutAlign="space-evenly center" >
            <div fxLayoutAlign="start center" fxFlex="100%">
              <label fxFlex="30%"> {{element.name}} </label>          
              <img mat-card-image fxFlex="25%"  src='{{(element.imgFile ? element.imgFile : "assets/images/NoImg.jpg")}}' style="padding: 5%;">
    
            </div> 
            <!-- <div>
              <img mat-card-image fxFlex="15%"  src='{{(element.imgFile ? element.imgFile : "assets/images/NoImg.jpg")}}' style="padding: 5%;">
            </div> -->
          </td>
        </ng-container>
    
        
        
        
    
        <tr mat-header-row *matHeaderRowDef="['name']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name']"></tr>
        
      </table>
    </div>
  </mat-card-content>
</mat-card>
